
.active{
background : #000;
--background: #000;
box-shadow: none;
div{
  .tag{
    background: #fff;
    color: #000;
  }
}
}

// .in-segment-color .segment-button-indicator-background {
//   background: 
// }


// .slider-image{

// }

