<ion-header class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <!-- <ion-icon slot="icon-only" name="arrow-back" (click)="back()" class="medium-font"> </ion-icon> -->
      <ion-icon
        slot="icon-only"
        class="medium-font"
        src="/assets/images/icon/back.svg"
      ></ion-icon>
    </ion-buttons>
    <ion-title class="medium-font bold-font">
      {{"filters.page.title" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="box-border-top">
  <div class="brand_content">
    <ion-row>
      <div class="brand-detail">
        <ion-label class="bold-font medium-font"
          >{{"filters.brands.text" | translate}}</ion-label
        >
        <ion-label
          class="small-font"
          (click)="onClickMore()"
          style="cursor: pointer"
          >See more</ion-label
        >
      </div>
    </ion-row>
    <ion-row
      class="category_col ion-no-padding ion-no-margin ion-padding-bottom inifinte-scroll"
    >
      <div
        class="category_item"
        *ngFor="let cate_item of logolist;let i = index"
      >
        <ion-button
          size="small"
          shape="round"
          class="small-input-border bold-font box-shadow brand_button"
          expand="full"
          (click)="sel_cat(i,2)"
        >
          {{ cate_item.name}}</ion-button
        >
      </div>
    </ion-row>
    <ion-grid class="no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-margin ion-no-padding">
          <p class="ion-float-left ion-no-margin bold-font medium-font">
            {{"filters.colors.text" | translate}}
          </p>
        </ion-col>
        <ion-col size="3" class="ion-no-margin" *ngFor="let c of colors">
          <ion-button
            class="small-font box-shadow color_button"
            size="small"
            [ngClass]="c"
            (click)="sel_col(c)"
          >
            <ion-icon
              name="checkmark-circle-outline"
              [ngStyle]="{'color': c=='white'? 'black' : 'white'}"
              *ngIf="this.color==c"
            ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-no-margin ion-no-padding">
          <p class="ion-float-left ion-no-margin bold-font medium-font">
            {{"filters.gender.text" | translate}}
          </p>
        </ion-col>
        <ion-col
          class="ion-margin-vertical margin-vertical-fix"
          style="display: flex"
        >
          <ion-button
            (click)="apply()"
            shape="round"
            expand="full"
            class="small-input-border bold-font box-shadow gender_btn"
            style="margin: 20px auto; width: 90%"
          >
            {{"auth.bodyMeasures.male" | translate}}</ion-button
          >
          <ion-button
            (click)="apply()"
            shape="round"
            class="small-input-border bold-font box-shadow gender_btn"
            expand="full"
            style="margin: 20px auto; width: 90%"
          >
            {{"auth.bodyMeasures.female" | translate}}</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="centent_div">
    <ion-row>
      <ion-col size="12" class="ion-no-margin ion-no-padding">
        <p class="ion-float-left ion-no-margin bold-font medium-font">
          {{"filters.price.btn" | translate}}
        </p>
      </ion-col>
      <div class="ion-no-margin ion-no-padding" style="width: 100%">
        <div style="display: flex">
          <span slot="start" style="width: 50%">{{sel_price.lower}}€</span> -
          <span slot="end" style="width: 50%; text-align: right"
            >{{sel_price.upper}}€</span
          >
        </div>
        <ion-range
          class="ion-no-margin ion-no-padding range"
          dualKnobs="true"
          min="0"
          max="800"
          [(ngModel)]="sel_price"
        >
        </ion-range>
      </div>
    </ion-row>
    <div class="subcategor_div">
      <ion-row>
        <ion-col size="12" class="ion-no-margin ion-no-padding">
          <p class="ion-float-left ion-no-margin bold-font medium-font">
            {{"filters.categories.text" | translate}}
          </p>
        </ion-col>
        <ion-col
          size="4"
          class="ion-no-margin ion-no-padding category_col"
          *ngFor="let cate_item of this.outputFilters.categoryList;let i = index"
        >
          <ion-button
            size="small"
            shape="round"
            class="small-input-border box-shadow ion-no-padding category_button"
            (click)="sel_cat(i,1)"
            style="width: 95%"
          >
            {{ cate_item.name}}</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer style="display: flex; background: transparent">
  <ion-button
    (click)="reset()"
    shape="round"
    class="small-input-border bold-font cancel-btn"
    expand="full"
    style="margin: 20px auto; width: 45%"
  >
    <!-- <ion-icon name="close-outline"></ion-icon> -->
    {{"filters.reset.btn" | translate}}</ion-button
  >
  <ion-button
    (click)="apply()"
    shape="round"
    class="small-input-border bold-font apply-btn"
    expand="full"
    style="margin: 20px auto; width: 45%"
  >
    <!-- <ion-icon name="checkmark-outline"></ion-icon> -->
    {{"filters.apply.btn" | translate}}</ion-button
  >
</ion-footer>
