<ion-header class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="heart-outline" class="medium-font">
      </ion-icon>
    </ion-buttons>

    <ion-title class="medium-font bold-font"
      >{{hash?searchProduct: "marketplace.title" | translate}}</ion-title
    >

    <ion-buttons
      slot="end"
      *ngIf="this.outputFilters.reset"
    >
      <!-- <ion-badge color="danger">{{ getUnreadMessagesCount() }}</ion-badge> -->
      <ion-icon slot="icon-only" name="filter-outline" class="medium-font">
      </ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!this.outputFilters.reset" (click)="reset()">
      <ion-icon slot="icon-only" name="refresh-outline" class="medium-font">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-no-padding" style="padding-bottom: 15px; --padding-bottom: 15px;">
    <ion-searchbar
      style="padding-bottom: 0 !important"
      mode="ios"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="box-border-top" cache-view="false">
  <!-- <ion-segment [(ngModel)]="icons" color="primary">
    <ion-segment-button value="post">
      <ion-icon name="apps"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="people">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="hashtag">
      <i class="fa fa-hashtag"></i>
    </ion-segment-button>
  </ion-segment> -->

  <!-- <div *ngIf="!loading">
    <app-stories [stories]="stories" [addStory]="false"></app-stories>
  </div> -->

  <!-- <div *ngIf="loading"
    style="position:fixed; display: flex; width: 100%; height: 70%; align-items: center; justify-content: center; z-index: 9999;">
    <ion-spinner name="circles"></ion-spinner>
  </div> -->
  <ion-segment
    [(ngModel)]="marketplaceType"
    mode="md"
    color="primary"
    *ngIf="outputFilters.reset"
  >
    <ion-segment-button value="foryou">
      <p class="small-font">{{"marketplace.foryou.text" | translate}}</p>
    </ion-segment-button>
    <ion-segment-button value="categories">
      <p class="small-font">{{"filters.categories.btn" | translate}}</p>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="marketplaceType">
    <div *ngSwitchCase="'foryou'">
      <ion-grid
        class="ion-padding"
        *ngIf="!(products$ | async)?.length && outputFilters.reset"
      >
        <ion-row>
          <ion-col class="ion-margin-vertical ion-padding-vertical">
            <!-- <div class=" ion-text-center">
           <ion-icon class="xxlarge-font" name="alert-outline"></ion-icon> 
          <p class="bold-font medium-font">{{"marketplace.noproducts.title" | translate}}</p>
          <p class="regular-font medium-font">{{"marketplace.noproducts.description" | translate}}</p>
        </div> -->
            <div class="ion-text-center ion-padding">
              <svg
                xml:space="preserve"
                viewBox="0 0 100 100"
                y="0"
                x="0"
                xmlns="http://www.w3.org/2000/svg"
                id="圖層_1"
                version="1.1"
                style="
                  height: 100%;
                  width: 45%;
                  background: #fafafa;
                  shape-rendering: auto;
                "
                width="200px"
                height="200px"
              >
                <g
                  class="ldl-scale"
                  style="
                    transform-origin: 50% 50%;
                    transform: rotate(0deg) scale(0.8, 0.8);
                  "
                >
                  <g class="ldl-ani">
                    <g class="ldl-layer">
                      <g
                        class="ldl-ani"
                        style="
                          transform: scale(0.91);
                          transform-origin: 50px 50px;
                          animation: 1.11111s linear -0.740741s infinite normal forwards
                            running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                        "
                      >
                        <path
                          stroke-miterlimit="10"
                          stroke-width="3"
                          stroke="#333"
                          fill="none"
                          stroke-linejoin="round"
                          stroke-linecap="round"
                          d="M50 46.6V34.8c-5.4 0-9.8-4.4-9.8-9.8s4.4-9.8 9.8-9.8 9.8 4.4 9.8 9.8"
                          style="stroke: rgb(0, 0, 0)"
                        ></path>
                      </g>
                    </g>
                    <g class="ldl-layer">
                      <g
                        class="ldl-ani"
                        style="
                          transform: scale(0.91);
                          transform-origin: 50px 50px;
                          animation: 1.11111s linear -0.925926s infinite normal forwards
                            running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                        "
                      >
                        <path
                          d="M15.2 65.5h69.7v6.1H15.2z"
                          stroke-miterlimit="10"
                          stroke-width="3"
                          stroke="#333"
                          fill="#f8b26a"
                          style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0)"
                        ></path>
                      </g>
                    </g>
                    <g class="ldl-layer">
                      <g
                        class="ldl-ani"
                        style="
                          transform: scale(0.91);
                          transform-origin: 50px 50px;
                          animation: 1.11111s linear -1.11111s infinite normal forwards
                            running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                        "
                      >
                        <path
                          stroke-miterlimit="10"
                          stroke-width="3"
                          stroke="#333"
                          fill="#f8b26a"
                          d="M89.5 64.6L52.7 42h0c-1.7-.7-3.6-.7-5.4 0h0L10.5 64.6c-1.9.9-3.2 3.1-3 5.5.3 3.4 3.2 5.5 5.9 4.5L50 54.9l36.6 19.7c2.7 1 5.6-1.1 5.9-4.5.2-2.4-1.1-4.6-3-5.5z"
                          style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0)"
                        ></path>
                      </g>
                    </g>
                    <metadata xmlns:d="https://loading.io/stock/"></metadata>
                  </g>
                </g>
                <style
                  id="breath-dfc2b681-858a-4d84-bbf4-42ea01032905"
                  data-anikit=""
                >
                  @keyframes breath-dfc2b681-858a-4d84-bbf4-42ea01032905 {
                    0% {
                      animation-timing-function: cubic-bezier(
                        0.9647,
                        0.2413,
                        -0.0705,
                        0.7911
                      );
                      transform: scale(0.9099999999999999);
                    }
                    51% {
                      animation-timing-function: cubic-bezier(
                        0.9226,
                        0.2631,
                        -0.0308,
                        0.7628
                      );
                      transform: scale(1.02994);
                    }
                    100% {
                      transform: scale(0.9099999999999999);
                    }
                  }
                </style>
              </svg>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        class="ion-padding"
        *ngIf=" (products$ | async)?.length  && outputFilters.reset"
      >
        <ion-row class="items-row">
          <ion-col size="12" class="ion-no-padding">
            <!-- <p class="ion-text-start ion-no-margin  bold-font medium-font">{{"filters.categories.text" | translate}} </p> -->
            <p class="ion-text-start ion-no-margin bold-font medium-font">
              Wear the change
            </p>
            <!-- <p class="ion-text-start ion-no-margin regular-font medium-font">Some description text here</p> -->
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-no-padding ion-no-margin ion-padding-bottom inifinte-scroll"
        >
          <!-- <ion-button
            size="small"
            [color]="cate_item.status==true? 'black' : 'light'"
            shape="round"
            class="small-input-border bold-font box-shadow"
            *ngFor="let cate_item of this.outputFilters.categoryList;let i = index"
            expand="full"
            (click)="sel_cat(i,1)"
          >
            {{ cate_item.name}}</ion-button
          > -->

          <ion-col
            size="12"
            class="ion-margin-top"
            *ngFor="let tag of newMarketplaceProducts; let i=index;"
            (click)="openWear()"
            style="cursor: pointer;"
          >
            <ion-card class="card ion-no-margin box-shadow">
              <div>
                <div class="product-image-overlay"></div>
                <img [src]="tag.image" [alt]="tag.title"/>
                <ion-card-title>
                  <ion-row>
                    <ion-col
                      sizw="12"
                      class="ion-text-center ion-padding-horizontal"
                    >
                      <h6
                        class="xlarge-font bold-font text-shell ion-text-center"
                        [ngClass]="{'text-loaded': tag?.tag}"
                      >
                        {{tag.tag}}
                      </h6>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="items-row">
          <ion-col size="12" class="ion-no-padding">
            <!-- <p class="ion-text-start ion-no-margin  bold-font medium-font">{{"filters.categories.text" | translate}} </p> -->
            <p class="ion-text-start ion-no-margin bold-font medium-font">
              {{"filters.brands.btn" | translate}}
            </p>
            <!-- <p class="ion-text-start ion-no-margin regular-font medium-font">
              Some description text here
            </p> -->
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-no-padding ion-no-margin ion-padding-bottom inifinte-scroll"
        >
          <ion-button
            shape="round"
            class="small-input-border bold-font box-shadow brand_button"
            *ngFor="let b of favBrands;let i = index"
            (click)="openSustainableBrand()"
          >
            {{ b}}</ion-button
          >
        </ion-row>
        <ion-col class="buttons ion-text-center" style="padding: 0px">
          <ion-button
            class="filter"
            lines="none"
            style="
              height: 50px;
              width: 100%;
            "
            (click)="openCategory()"
          >
            Filter by Category
          </ion-button>
          <ion-button
            class="brand"
            lines="none"
            style="
              height: 50px;
              width: 100%;"
            (click)="openLocalBrand()"
          >
            Local brands near you
          </ion-button>
        </ion-col>
        <ion-row>
          <div class="brand-detail">
            <ion-label class="bold-font medium-font">Your selection</ion-label>
            <ion-label class="small-font">See all</ion-label>
          </div>
        </ion-row>
        <app-innerhome
          [productsData]="products$ | async"
          [wishlisted]="false"
        ></app-innerhome>

        <ion-infinite-scroll threshold="30%" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            [loadingText]="this.translate.get('marketplace.loading.text')"
          >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'categories'">
      <ion-grid class="ion-padding" *ngIf="outputFilters.categoryList.length == 0">
        <ion-row>
          <ion-col class="ion-no-margin ion-no-padding">
            <!-- <div class=" ion-text-center">
           <ion-icon class="xxlarge-font" name="alert-outline"></ion-icon> 
          <p class="bold-font medium-font">{{"marketplace.noproducts.title" | translate}}</p>
          <p class="regular-font medium-font">{{"marketplace.noproducts.description" | translate}}</p>
        </div> -->
            <div class="ion-text-center ion-padding">
              <svg
                xml:space="preserve"
                viewBox="0 0 100 100"
                y="0"
                x="0"
                xmlns="http://www.w3.org/2000/svg"
                id="圖層_1"
                version="1.1"
                style="
                  height: 100%;
                  width: 45%;
                  background: #fafafa;
                  shape-rendering: auto;
                "
                width="200px"
                height="200px"
              >
                <g
                  class="ldl-scale"
                  style="
                    transform-origin: 50% 50%;
                    transform: rotate(0deg) scale(0.8, 0.8);
                  "
                >
                  <g class="ldl-ani">
                    <g class="ldl-layer">
                      <g
                        class="ldl-ani"
                        style="
                          transform: scale(0.91);
                          transform-origin: 50px 50px;
                          animation: 1.11111s linear -0.740741s infinite normal forwards
                            running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                        "
                      >
                        <path
                          stroke-miterlimit="10"
                          stroke-width="3"
                          stroke="#333"
                          fill="none"
                          stroke-linejoin="round"
                          stroke-linecap="round"
                          d="M50 46.6V34.8c-5.4 0-9.8-4.4-9.8-9.8s4.4-9.8 9.8-9.8 9.8 4.4 9.8 9.8"
                          style="stroke: rgb(0, 0, 0)"
                        ></path>
                      </g>
                    </g>
                    <g class="ldl-layer">
                      <g
                        class="ldl-ani"
                        style="
                          transform: scale(0.91);
                          transform-origin: 50px 50px;
                          animation: 1.11111s linear -0.925926s infinite normal forwards
                            running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                        "
                      >
                        <path
                          d="M15.2 65.5h69.7v6.1H15.2z"
                          stroke-miterlimit="10"
                          stroke-width="3"
                          stroke="#333"
                          fill="#f8b26a"
                          style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0)"
                        ></path>
                      </g>
                    </g>
                    <g class="ldl-layer">
                      <g
                        class="ldl-ani"
                        style="
                          transform: scale(0.91);
                          transform-origin: 50px 50px;
                          animation: 1.11111s linear -1.11111s infinite normal forwards
                            running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                        "
                      >
                        <path
                          stroke-miterlimit="10"
                          stroke-width="3"
                          stroke="#333"
                          fill="#f8b26a"
                          d="M89.5 64.6L52.7 42h0c-1.7-.7-3.6-.7-5.4 0h0L10.5 64.6c-1.9.9-3.2 3.1-3 5.5.3 3.4 3.2 5.5 5.9 4.5L50 54.9l36.6 19.7c2.7 1 5.6-1.1 5.9-4.5.2-2.4-1.1-4.6-3-5.5z"
                          style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0)"
                        ></path>
                      </g>
                    </g>
                    <metadata xmlns:d="https://loading.io/stock/"></metadata>
                  </g>
                </g>
                <style
                  id="breath-dfc2b681-858a-4d84-bbf4-42ea01032905"
                  data-anikit=""
                >
                  @keyframes breath-dfc2b681-858a-4d84-bbf4-42ea01032905 {
                    0% {
                      animation-timing-function: cubic-bezier(
                        0.9647,
                        0.2413,
                        -0.0705,
                        0.7911
                      );
                      transform: scale(0.9099999999999999);
                    }
                    51% {
                      animation-timing-function: cubic-bezier(
                        0.9226,
                        0.2631,
                        -0.0308,
                        0.7628
                      );
                      transform: scale(1.02994);
                    }
                    100% {
                      transform: scale(0.9099999999999999);
                    }
                  }
                </style>
              </svg>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-grid class="ion-padding" *ngIf="newMarketplaceProducts.length >0"> 
    <ion-row>
      <ion-col class="ion-margin-vertical ion-padding-vertical">
        <div class=" ion-text-center ion-padding">
          <p class="bold-font medium-font">{{"marketplace.noproducts.title" | translate}}</p>
          <p class="regular-font medium-font">{{"marketplace.noproducts.local.description" | translate}}</p>
          <br>
         
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> --><!--Doronin-->
      <ion-grid class="ion-no-padding" *ngIf="outputFilters.categoryList.length>0">
        <ion-row>
          <ion-row
            size="12"
            class="ion-no-margin ion-text-center bold-font categoryList"
            *ngFor="let cate_item of this.outputFilters.categoryList;let i = index"
            style="    
              display: flex;
              justify-content: space-between;
              width: 50%;
              height: 60px;
              margin-bottom: 10px;
              margin-top: 10px;"
          >
            <div class="category_name" 
            style="
              width: 65%;
              display: flex;
              justify-content: flex-start; 
              align-items: center;
              align-content: center; 
              padding-left: 15px;">
              <h1
                class="small-font text-shell ion-text-center bold-font"
                [ngClass]="{'text-loaded': cate_item?.name}"
              >
                {{cate_item.name}}
              </h1>
            </div>
            <div class="category_image" 
            style="
              padding-right: 15px; 
              display: flex; 
              align-content: center; 
              align-items: center;">
              <img
                [src]="cate_item.image"
                [alt]="cate_item.name"
                style="width: 30px; height: 40px;"
              />
            </div>
            <!-- <ion-card class="card no-border ion-no-margin box-shadow">
              <div>
                <div class="product-image-overlay"></div>
                <img [src]="tag.image" [alt]="tag.title" />
                <ion-card-title>
                  <ion-row>
                    <ion-col
                      sizw="12"
                      class="ion-text-center ion-padding-horizontal"
                    >
                      <h2
                        class="xxlarge-font bold-font text-shell ion-text-center"
                        [ngClass]="{'text-loaded': tag?.title}"
                      >
                        {{tag.title}}
                      </h2>
                      <h6
                        class="medium-font text-shell ion-text-center"
                        [ngClass]="{'text-loaded': tag?.tag}"
                      >
                        {{tag.tag}}
                      </h6>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
              </div>
            </ion-card> -->
          </ion-row>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!--FILTERS SECTION-->

  <ion-grid
    class="ion-padding"
    *ngIf="!(filterProducts$  | async)?.length && !outputFilters.reset"
  >
    <ion-row>
      <ion-col class="ion-margin-vertical ion-padding-vertical">
        <!-- <div class=" ion-text-center">
           <ion-icon class="xxlarge-font" name="alert-outline"></ion-icon> 
          <p class="bold-font medium-font">{{"marketplace.noproducts.title" | translate}}</p>
          <p class="regular-font medium-font">{{"marketplace.noproducts.description" | translate}}</p>
        </div> -->
        <div class="ion-text-center ion-padding">
          <svg
            xml:space="preserve"
            viewBox="0 0 100 100"
            y="0"
            x="0"
            xmlns="http://www.w3.org/2000/svg"
            id="圖層_1"
            version="1.1"
            style="
              height: 100%;
              width: 45%;
              background: #fafafa;
              shape-rendering: auto;
            "
            width="200px"
            height="200px"
          >
            <g
              class="ldl-scale"
              style="
                transform-origin: 50% 50%;
                transform: rotate(0deg) scale(0.8, 0.8);
              "
            >
              <g class="ldl-ani">
                <g class="ldl-layer">
                  <g
                    class="ldl-ani"
                    style="
                      transform: scale(0.91);
                      transform-origin: 50px 50px;
                      animation: 1.11111s linear -0.740741s infinite normal forwards
                        running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                    "
                  >
                    <path
                      stroke-miterlimit="10"
                      stroke-width="3"
                      stroke="#333"
                      fill="none"
                      stroke-linejoin="round"
                      stroke-linecap="round"
                      d="M50 46.6V34.8c-5.4 0-9.8-4.4-9.8-9.8s4.4-9.8 9.8-9.8 9.8 4.4 9.8 9.8"
                      style="stroke: rgb(0, 0, 0)"
                    ></path>
                  </g>
                </g>
                <g class="ldl-layer">
                  <g
                    class="ldl-ani"
                    style="
                      transform: scale(0.91);
                      transform-origin: 50px 50px;
                      animation: 1.11111s linear -0.925926s infinite normal forwards
                        running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                    "
                  >
                    <path
                      d="M15.2 65.5h69.7v6.1H15.2z"
                      stroke-miterlimit="10"
                      stroke-width="3"
                      stroke="#333"
                      fill="#f8b26a"
                      style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0)"
                    ></path>
                  </g>
                </g>
                <g class="ldl-layer">
                  <g
                    class="ldl-ani"
                    style="
                      transform: scale(0.91);
                      transform-origin: 50px 50px;
                      animation: 1.11111s linear -1.11111s infinite normal forwards
                        running breath-dfc2b681-858a-4d84-bbf4-42ea01032905;
                    "
                  >
                    <path
                      stroke-miterlimit="10"
                      stroke-width="3"
                      stroke="#333"
                      fill="#f8b26a"
                      d="M89.5 64.6L52.7 42h0c-1.7-.7-3.6-.7-5.4 0h0L10.5 64.6c-1.9.9-3.2 3.1-3 5.5.3 3.4 3.2 5.5 5.9 4.5L50 54.9l36.6 19.7c2.7 1 5.6-1.1 5.9-4.5.2-2.4-1.1-4.6-3-5.5z"
                      style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0)"
                    ></path>
                  </g>
                </g>
                <metadata xmlns:d="https://loading.io/stock/"></metadata>
              </g>
            </g>
            <style
              id="breath-dfc2b681-858a-4d84-bbf4-42ea01032905"
              data-anikit=""
            >
              @keyframes breath-dfc2b681-858a-4d84-bbf4-42ea01032905 {
                0% {
                  animation-timing-function: cubic-bezier(
                    0.9647,
                    0.2413,
                    -0.0705,
                    0.7911
                  );
                  transform: scale(0.9099999999999999);
                }
                51% {
                  animation-timing-function: cubic-bezier(
                    0.9226,
                    0.2631,
                    -0.0308,
                    0.7628
                  );
                  transform: scale(1.02994);
                }
                100% {
                  transform: scale(0.9099999999999999);
                }
              }
            </style>
          </svg>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid
    class="ion-padding"
    *ngIf="!outputFilters.reset && (filterProducts$  | async)?.length > 0"
  >
    <app-innerhome
      [productsData]="filterProducts$ | async"
      [wishlisted]="false"
    ></app-innerhome>

    <ion-infinite-scroll
      threshold="30%"
      (ionInfinite)="doInfiniteFilters($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        [loadingText]="this.translate.get('marketplace.loading.text')"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>

  <ion-grid
    class="ion-padding"
    *ngIf="!outputFilters.reset && (filterProducts$  | async)?.length == 0"
  >
    <ion-row>
      <ion-col class="ion-margin-vertical ion-padding-vertical">
        <div class="ion-text-center ion-padding">
          <p class="bold-font medium-font">
            {{"marketplace.noproducts.title" | translate}}
          </p>
          <p class="regular-font medium-font">
            {{"marketplace.noproducts.search.description" | translate}}
          </p>
          <br />
          <ion-button
            expand="full"
            color="darkest"
            class="bold-font box-shadow input-border"
            shape="round"
            type="submit"
            (click)="reset();"
          >
            {{"filters.reset.btn" | translate}}</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
