body{
    background:#fff;  //ruins camera
  }
.badge-messages{
    position: fixed;
    top: 2px;
    right: 5px;
}


.beta {
  background: #cac6c1;
  color: #000;
  top: 0;
  position: absolute;
  width: 100%;
  padding: 0.1rem;
}