ion-header{
  background: #2a4449;
  --background: #2a4449;
}

ion-toolbar{
  background: #2a4449;
  --background: #2a4449;
}

ion-title{
  color: white;
  text-align: center;
}

ion-button{
  background: #ff00 !important;
  --background: #ff00 !important;
}

.edit_profile{
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;

  --border: 1px solid white;
  --border-radius: 10px;
}

.userimg {
  // max-width: 90px;
  width: 90px;
  height: 90px;
  // border: 4px solid #fff;

}
p {
  margin: 2px 0 2px 0;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.75);
  border-radius: 0;
  z-index: 9999;
}

.badge-notifications{
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255 0 0 / 75%);
  border-radius: 100%;
  z-index: 9999;
  width: 17px;
  height: 17px;
}
.product-image-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 75%, #ffffff4a 100%);
}

.fab-container {
  // position: relative;
}

ion-row {
  ion-col {
    padding-bottom: 0px !important;
  }
}


// background-color: white;

$image-size: 80px;
$color: #262626;

.padding {
  padding: 8px;
}

ion-item {
  border-bottom: none;
}
.likes {
  font-size: 1em;
}
.likes .icon {
  font-size: 1.2em;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
}

.info div h2 {
  font-size: 15px;
}

.info div p {
  font-size: 15px;
}

h2,p {
  font-size: 15px;
}

.number {
  color: $color;
  font-weight: bolder;
  font-size: 1.8rem;
}

ion-segment .segment-activated {
  background-color: #fafafa !important;
}

.label {
  color: #bababa;
  font-size: 1.6rem;
}

.avatar {
  border-radius: 50%;
  border: 0.5px solid #d6d6d6;
  height: $image-size;
  width: $image-size;
  overflow: hidden;
}

.img-avatar {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}

.item-md.item-block .item-inner {
  border: none;
}

.button-outline-md-light {
  // color: $color;
}

.name {
  color: $color;
  font-weight: bolder;
}

.segment-button {
  color: #9f9f9f !important;
  border-color: white !important;
}

.segment-activated {
  border-color: white !important;
  color: #5498dc !important;
}

.segmentidivider {
  border-top-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.col-image {
  padding: 1px;
}

.card-content {
  padding-top: 0;
}

.favorite {
  color: #eb9532;
}

.card {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: calc(100%);
}

.button-large-md {
  font-size: 1.4rem !important;
}

.icon {
  font-size: 1.4em;
}

.timeago {
  color: #a6a6a6;
  font-size: 10px;
  text-transform: uppercase;
}

.image {
  position: relative;
  width: 100%;
}

.user-description {
  padding: 5px;
}

.user-description h2, .user-description p {
  margin: 0;
  padding: 0;
}


.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-action-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-action{
  width: 15%;
  font-size: 25px;
  padding: 5px;
}

.closet-plus-col:last-child {
  margin-bottom: 45px;
}

ion-icon {
  color: #fff;
  margin-bottom: -1px;
}

.user-statistic {
  ion-col:after {
    content: "";
    height: 40%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e2e2e2;
  }
  ion-col:last-child:after {
    // border-right: none;
    height: 0%;
  }
}