<ion-header>

    <ion-toolbar class="toolbar-nexti">
  
      <ion-buttons slot="start">
        <ion-button icon-only large (click)="back()">
          <ion-icon name="close" large></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title>Photo</ion-title>
  
      <ion-buttons slot="end">
        <ion-button *ngIf="segment === 'gallery'" color="primary" (click)="share()">
          Share
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  
  
  </ion-header>
  
  <ion-content id="page-add-story">
  
    <div [ngSwitch]="segment">
  
      <div *ngSwitchCase="'photo'">  
        <ion-fab vertical="top" horizontal="start" slot="fixed">
          <ion-fab-button (click)="refresh()" clear color="white">
            <ion-icon name="camera-reverse-outline" color="medium"></ion-icon>
          </ion-fab-button >
        </ion-fab>
  
  
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button (click)="flash()" clear color="white">
            <ion-icon name="flash-outline" *ngIf="flashMode == 'off'" color="medium"></ion-icon>
            <ion-icon name="flash" *ngIf="flashMode == 'on'" color="medium"></ion-icon>
          </ion-fab-button >
        </ion-fab>
  
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button (click)="takePicture()" color="gray" class="take-photo" >
            <ion-icon name=""></ion-icon>
          </ion-fab-button >
        </ion-fab>
  
      </div>
  
      
  
      <div *ngSwitchCase="'gallery'" style="background-color: white;">        
        <img [src]="selectedPhoto | cdvphotolibrary" class="selected-photo"> 
        <div class="image-list">
          <div *ngFor="let photo of images |  slice: 0:20" class="image">          
            <img [src]="photo.thumbnailUrl | cdvphotolibrary" (click)="changePhoto(photo)">
          </div>
        </div> 
        
        
  
      </div>
  
    </div>
  
  
  </ion-content>
  
  
  <ion-footer *ngIf="selectedPhoto" style="bottom: 0px">  
  
    <ion-segment class="clocking-view" [(ngModel)]="segment" mode="md" (ionChange)="changeSegment($event)">
      <ion-segment-button value="gallery" class="segment-text">
        GALLERY
      </ion-segment-button>
      <ion-segment-button value="photo" class="segment-text">
        PHOTO
      </ion-segment-button>
     
  
    </ion-segment>
  </ion-footer>