<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600386809045-vff2n9pr4remqniviool3h4b3bieo8ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600386809045-vff2n9pr4remqniviool3h4b3bieo8ua</string>
	<key>API_KEY</key>
	<string>AIzaSyAI_ZEYOHYCEesVxVU1p-BDqotRkC2mC-A</string>
	<key>GCM_SENDER_ID</key>
	<string>600386809045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myzura.myzura</string>
	<key>PROJECT_ID</key>
	<string>myzura-1d9a0</string>
	<key>STORAGE_BUCKET</key>
	<string>myzura-1d9a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600386809045:ios:15a1069338b18cda2d865c</string>
	<key>DATABASE_URL</key>
	<string>https://myzura-1d9a0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>