
<ion-header  class="ion-no-border ion-padding-horizontal">
  <ion-toolbar color="light" >
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="medium-font" (click)="back()"> </ion-icon>
    </ion-buttons>
    <ion-title class="medium-font bold-font"> {{"auth.forgotpassword.title" | translate}} </ion-title>

    <!-- <ion-buttons slot="end" fill="clear"  color='darkest'  class="medium-font bold-font">
      
        Sign in
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>


<ion-content class="box-border-top">
  
  <form [formGroup]="forgotPasswordForm"  (ngSubmit)="recoverPassword()">
  <ion-grid  class="ion-padding">
      <ion-row>
        <ion-col>
          <h2 class="auth-title bold-font">
          {{"auth.forgotpassword.welcome" | translate}}<br/>
          <!-- David -->
        </h2>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-top">
            <p class="small-font">
              {{"auth.forgotpassword.description" | translate}}
            </p>
            <ion-item lines='none' class="input-item input-border  small-font box-shadow">
              <ion-input class="input-border" type="email" [placeholder]="this.translate.get('auth.placeholder.email.username')" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
      

        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-button class="login-btn input-border bold-font box-shadow" shape="round" type="submit" color="darkest" expand="full"  [disabled]="!forgotPasswordForm.valid">{{"auth.forgotpassword.btn" | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-top ">
         <span class="forgot-btn small-font regular-font ion-margin-vertical">
          {{"auth.already.registered" | translate}}
          <a class="bold-font a-link" [routerLink]="['/auth/sign-up']">
            {{"auth.signin" | translate}}
          </a>
         </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
