
.legal-stuff {
  text-align: center;
  // margin: var(--page-margin) 0px;
  color: var(--ion-color-medium);
  
  .legal-action {
    font-weight: 500;
    color: var(--ion-color-darkest);
    cursor: pointer;
  }
}

