

.walkthrough-slides{
  width: 100%;
  // height: 90vh;
}

.slide-item{
  width: 100%;
  // height: 90vh;
}
.button_div{
  width: 100%;
  height:10vh;
  display: flex;
}
.no-padding{
padding: 0px!important;
}

.slide-row{
  display: block;
  position: absolute;
  top: 0px;
}

ion-range {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: -20px;
}
ion-segment {
  background : #fff !important;
  margin-top: -15px;
}

ion-toolbar{
  padding-bottom: 20px;
}

ion-title{
  padding-top: 10px;
}



//   .datetime-placeholder {
//     margin-left: -17px;
// }
ion-datetime {
padding-left: 0;
}

.active{
background : #000;
--background: #000;
box-shadow: none;
div{
  .tag{
    background: #fff;
    color: #000;
  }
}
}

// .in-segment-color .segment-button-indicator-background {
//   background: 
// }


// .slider-image{

// }

// .img-wrapper{

// }


.info-wrapper{
  padding: 15px 20px;

}

.info-title{
  margin-top: 6%;
  // font-weight: bold;
  color:  var(--ion-color-darkest);
}

ion-slides {
  --bullet-background: var(--ion-color-darkest);
  --bullet-background-active:  var(--ion-color-darkest);
}

.botton_btn{
    width: 40%;
    margin: auto;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}




/* Set the width to the full container and center the content */
ion-select {
// width: 100%;

// justify-content: center;
}

/* Set the flex in order to size the text width to its content */
ion-select::part(placeholder),
ion-select::part(text) {
flex: 0 0 auto;
}

/* Set the placeholder color and opacity */
ion-select::part(placeholder) {
color: #000;
opacity: 1;
}

/*
* Set the font of the first letter of the placeholder
* Shadow parts work with pseudo-elements, too!
* https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
*/
ion-select::part(placeholder)::first-letter {
font-size: 24px;
font-weight: 500;
}

/* Set the text color */
ion-select::part(text) {
color: #000;
}

/* Set the icon color and opacity */
ion-select::part(icon) {
color: #000;
opacity: 1;
}


.scrolling-wrapper {
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;

.card {
  display: inline-block;
}
}




.scrolling-wrapper {
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;

.card {
  display: inline-block;
}
}

.scrolling-wrapper-flexbox {
display: flex;
flex-wrap: nowrap;
overflow-x: auto;

.card {
  flex: 0 0 auto;
  margin-right: 3px;
}
}

.card {
border: 2px solid #dfdfdf;
width: 150px;
height: 75px;
background: black;
}

/* Top right text */
.top-right {
position: absolute;
top: 0;
right: -12px;
float: right;
padding: 10px 4px 10px 4px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
background: black;
z-index: 9999999;
color:#fff;
ion-icon {
  font-size: 2rem;
  display: flex;
  padding-top: 8px;
}
}


.scrolling-wrapper, .scrolling-wrapper-flexbox {
height: 80px;
margin-bottom: 20px;
width: 100%;
-webkit-overflow-scrolling: touch;
&::-webkit-scrollbar {
  display: none;
}
}



.drag-box {
  // height: 90px;
  // width: 90px;
   
  // display: inline-flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // background: #fff;
  // border-radius: 4px;
  // margin-right: 25px;
  position: absolute;
  z-index: 1;
   
  }
  .drag-box-item {
    // height: 90px;
    // width: 90px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  .drag-box-item:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  

  .content-outfit{
    border: 2px solid #ededed;
  }